<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{include/header::header}"></th:block>
    <th:block th:replace="~{include/header::preloader}"></th:block>
    <th:block th:replace="~{include/main_header::main_header}"></th:block>
</head>

<body>


    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <form action="#">
                                <input type="text" placeholder="Search...">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                        </div>
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    <li><a href="#">전자기기 (20)</a></li>
                                                    <li><a href="#">의류 (20)</a></li>
                                                    <li><a href="#">도서 (20)</a></li>
                                                    <li><a href="#">가구/인테리어 (20)</a></li>
                                                    <li><a href="#">기타 (20)</a></li>
                                                                                                    </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                    </div>
                                    <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__price">
                                                <ul>
                                                    <li><a href="#">₩0 - ₩10,000</a></li>
                                                    <li><a href="#">₩10,000 - ₩50,000</a></li>
                                                    <li><a href="#">₩50,000 - ₩100,000</a></li>
                                                    <li><a href="#">₩100,000 - ₩200,000</a></li>
                                                    <li><a href="#">₩200,000 - ₩1,000,000</a></li>
                                                    <li><a href="#">₩1,000,000+</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>Showing 1–12 of 126 results</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Sort by Price:</p>
                                    <select>
                                        <option value="">Low To High</option>
                                        <option value="">$0 - $55</option>
                                        <option value="">$55 - $100</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <section class="product spad">
                        <div class="container">
                            <div class="row">

                                <div class="col-lg-4 col-md-6 col-sm-6" th:each="product : ${products}">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg" th:attr="data-setbg=${'/uploads/' + product.p_imageUrl}">
                                            <ul class="product__hover">
                                                <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                                                <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a>
                                                </li>
                                                <li><a th:href="@{/shop/detail/{id}(id=${product.p_id})}"><img src="img/icon/search.png" alt=""></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__item__text">
                                            <h6 th:text="${product.p_name}">상품명</h6>
                                            <a href="#" class="add-cart">+ Add To Cart</a>
                                            <h6 th:text="${username}"></h6>
                                            <div class="seller-info" style="margin: 5px 0; font-size: 0.9em; color: #666;">
                                                <span></span>
                                                <span th:text="${product.user.userID}">판매자명</span>
                                            </div>


                                            <div class="rating">
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                            <h5 th:text="${#numbers.formatCurrency(product.p_price)}">가격</h5>
                                            <div class="product__color__select">
                                                <label for="pc-4">
                                                    <input type="radio" id="pc-4">
                                                </label>
                                                <label class="active black" for="pc-5">
                                                    <input type="radio" id="pc-5">
                                                </label>
                                                <label class="grey" for="pc-6">
                                                    <input type="radio" id="pc-6">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>



                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                <a class="active" href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <span>...</span>
                                <a href="#">21</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

    <th:block th:replace="~{include/footer::footer}"></th:block>
    <th:block th:replace="~{include/plugin::plugin}"></th:block>
</body>
<script>
    $(document).ready(function() {
        $('.set-bg').each(function() {
            var bg = $(this).data('setbg');
            $(this).css('background-image', 'url(' + bg + ')');
        });
    });

</script>
</html>